.Nav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 77px;
}
.Nav-menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  height: 40px;
  width: 70%;
  margin: 0 auto;
  padding: 26px 40px;
}

.Nav-brand {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.Nav-brand-logo {
  height: 40px;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  text-decoration: none;
  color: black;
  margin-left: 0.5em;
  /* height: inherit; */
}

.Nav-upload {
  filter: opacity(.5);
  height:40px
}