.Nav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  /* height: 77px; */
}

#Nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  /* height: 40px; */
  width: 70%;
  margin: 0 auto;
  padding: 13px 40px;
  transition: 0.4s;
}

.Nav-brand {
  display: flex;
  justify-content: space-between;
  justify-items: baseline;
  height: 35px;
}

.Nav-brand:active {
  opacity: 0.5;
}

.Nav-brand-logo {
  height: 40px;
  font-family: 'Amatic SC', cursive;
  text-decoration: none;
  color: black;
  margin-left: 0.5em;
  margin-top: 0.27em;
  /* height: inherit; */
}

#Nav-brand-name {
  height: 40px;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  text-decoration: none;
  color: black;
  margin-left: 0.5em;
  /* height: inherit; */
  transition:  0.4s;
  opacity: 1;
}

.Nav-user {
  /* filter: opacity(.5); */
  height: 50px
}

.visible {
  animation: fadeIn 0.2s forwards;
}

.hidden {
  animation: fadeOut 0.2s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fadeOut {
  100% { opacity: 0 }
}